.falun-detector-tip {
  width: 80%;
  height: 32px;
  margin-left: 10%;
  background-color: #FDD835;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;

  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 24px;
  font-size: 12px;
}

.falun-detector-tip-found-text {
  font-size: 14px;
}
